/* table styles */

.table {
 	font-size: 0.7em;
 	margin: 0;
}
.table .preLabel,
.table .answer {
 	display: none;
}
.table .row {
 	border-bottom: 1px solid;
 	margin: 0;
}
.table .row.hover {
	background-color: #DDD;
}
.table .row.selected {
 	background-color: yellow;
}
.table .header {
 	font-weight: bold;
}

/* Note the width is hard coded here for the actual number of rows */
.table .header,
.table .cell {
 	display: inline-block;
 	width : 33%;
 	vertical-align:middle;
}